h4 {
  color: white;
  text-align: center;
}

.footerContainer {
  width: 100%;
  background-color: #2a295c;
}


.rowFooter {
  margin: 0 auto;
  max-width: 1320px;
  padding-bottom: 2rem;
}

.colFooter {
  margin-top: 3rem;
}

.footerUl {
  list-style-type: none;
  text-decoration: none;
}

.footerUl li a {
  text-decoration: none;
}

