.sliderContent {
  width: 100%;
  height: 300px;
  background-color: blueviolet;
  height: calc(100vh - 60px);
}

.slider {
  
  height: calc(100vh - 95px);
}

.carousel-inner {
  top: 50%;
  transform: translateY(-50%);
}


.caruselItem {

} 

.caruselItem1 {
    
}
.caruselItem2 {

}
.caruselItem3 {

}